<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Cafetaria</title>
</head>

<body>
  <a href="#favorite" class="skip-link">Directing to Favorite</a>
  <header class="header">
    <nav class="nav-bar">
      <div class="nav-logo">
        <h1 tabindex="0">Cafetaria Apps</h1>
      </div>
      <button id="menu" class="header__menu" aria-label="drawer_menu" href="">☰</button>
      <div class="menubar">
        <ul class="list-menubar">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#favorite">Favorite</a></li>
          <li class="nav-item"><a href="https://www.instagram.com/afifavinaa/" target="_blank" rel="noreferrer">About
              Us</a></li>
        </ul>
      </div>
    </nav>
  </header>



  <div class="jumbotron" id="jumbotron">
    <div class="overlay">
      <div class="hero-inner" tabindex="0">
        <h2 class="hero-title"> Cafetaria </h2>
        <p class="hero-desc text-capitalize">Happy food, happy you!</p>
      </div>
    </div>
  </div>

  <main id="favorite">
    <section class="content">
      <h2 class="title" tabindex="0">Explore the Cafetaria</h2>
      <section class="list-place">
        <div class="card-grid"></div>
      </section>
    </section>
  </main>

  <footer class="footer">
    <p>Copyright&#169; November 2022 - Cafetaria by Afifa Vina</p>
  </footer>
</body>

</html>